

<!--<div class="container">-->
<!--  <div class="box one">1</div>-->
<!--  <div class="box two">2</div>-->
<!--  <div class="box three">3</div>-->
<!--</div>-->


<div class="header">
  <h1>My amazing revlove</h1>
  <div class="links">
    <a routerLink="feed">Feed</a>
    <a routerLink="cart">Cart</a>
  </div>

  <input type="text" (input)="search($event.target.value)">

  <div class="search-results">
    {{search$ | async}}
  </div>

  <div class="cart-status" *ngIf="numOfItemsInCart$ | async as numberOfItems">
    Number of items in cart {{numberOfItems}}
  </div>

  <button (click)="login()" *ngIf="!isLoggedIn$ | async">Login</button>
  <button (click)="logout()" *ngIf="isLoggedIn$ | async">Logout</button>

  <div class="username">
    {{username$ | async}}
  </div>
</div>


<router-outlet></router-outlet>

