<div class="item" *ngFor="let item of items; let i = index">
  <div class="id">Item id: {{i}}</div>
  <div class="title">{{ item.description }}</div>
  <img src="{{ item.imageUrl }}" />
  <div class="price">{{ item.price }}</div>
  <button>Add to cart</button>
</div>

<!-- 

<div class="item">
  <div class="title">{{item1.description}}</div>
  <img src="{{item1.imageUrl}}">
  <div class="price">{{item1.price}}</div>
  <button>Add to cart</button>
</div>

<div class="item">
  <div class="title">{{item2.description}}</div>
  <img src="{{item2.imageUrl}}">
  <div class="price">{{item2.price}}</div>
  <button>Add to cart</button>
</div> -->
